﻿
@{
    ViewData["Title"] = "Details";
}

<h1>Hello Details Page</h1>
@{
    var student = ViewData["st"] as Shayantan_mvcsample1_180822.Models.StudentModel;
        }
<div>
     <div>ID:@student.Sid
     <div>NAME:@student.Sname
     <div>AGE:@student.Sage
     <div>DEPT:@student.Deptname

         </div>
        @Html.ActionLink("Please click here for Home", "Index");

