﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <h3>@ViewData["word"]</h3>
    <h3>@ViewBag.word1</h3>
        @Html.ActionLink("Please click here", "Details")
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
