﻿
@model IEnumerable<Shayantan_MVCexercise_200822.Models.StudentModel>

<script>
    function ShowMessage() {
        var result = "Successfully Deleted";
        return result;
    }
</script>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col">Name</th>
            <th scope="col">DOB</th>
            <th scope="col">Role</th>
            <th scope="col">DOJ</th>
            <th scope="col">Action</th>
        </tr>
    </thead>


    @{ foreach (var item in Model)
        {

            <tr>
                <td>@item.Sid</td>
                <td>@item.Sname</td>
                <td>@item.dob.Date</td>
                <td>@item.role</td>
                <td>@item.doj.Date</td>
                <td><form action="@Url.Action("Delete",new { id = @item.Sid })" method="post"> <input type="submit" value="Delete" onclick="return ShowMessage();"/> </form> @*@Html.ActionLink("Edit", "Edit", new { id = item.Sid })*@ <a href='@Url.Action("Edit",new { id = item.Sid })' class="btn btn-primary">Edit</a> </td>
            </tr>

        }

    }

</table>

<div>
    @Html.ActionLink("Add Student", "AddStudent")
</div>
