﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Shayantan_MVCexercise_200822.Models.StudentModel
<div>
    @{ using (Html.BeginForm())
        {
            @Html.Label("Please enter name")
            @Html.TextBoxFor(o => o.Sname)

            @Html.Label("Please enter DOB")
            @Html.TextBoxFor(o => o.dob)

            @Html.Label("Please enter Role")
            @Html.TextBoxFor(o => o.role)

            @Html.Label("Please enter DOJ")
            @Html.TextBoxFor(o => o.doj)

            <input type="submit" value="Edit" />
        }


}
    @if (ViewBag.message != null) { 
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.message")
            }
        </script>
    }
</div>
