﻿@model Shayantan_aspwebapi_170822.Models.Employee

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Empid" class="control-label"></label>
                <input asp-for="Empid" class="form-control" />
                <span asp-validation-for="Empid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ename" class="control-label"></label>
                <input asp-for="Ename" class="form-control" />
                <span asp-validation-for="Ename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deptno" class="control-label"></label>
                <input asp-for="deptno" class="form-control" />
                <span asp-validation-for="deptno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sal" class="control-label"></label>
                <input asp-for="sal" class="form-control" />
                <span asp-validation-for="sal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
