﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    var det = ViewBag.libra as Shayantan_example1Library_180822.Models.LibClass;
    var det1 = ViewBag.pers as Shayantan_example1Library_180822.Models.PersonClass;


}

<div>ID:@det.Bid</div>
<div>NAME:@det.Bname</div>
<div>COUNTER:@det.counterno</div>
<br /><br />


