﻿@{
    ViewData["Title"] = "Home Page";
}

@{
    var det1 = ViewBag.libra as Shayantan_example1Library_180822.Models.LibClass;


}


<div><h1>Hello <br /> @det1.Bname</h1></div>
@Html.ActionLink("Library Details", "Details") <br /><br />
@Html.ActionLink("Student Details", "Details1")

