﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model  Shayantan_MVC2_190822.Models.StudentClass
<div>
    @{           using (Html.BeginForm())
            {
                @Html.Label("Please enter name")
            @Html.TextBoxFor(o=>o.Sname)

            <input type = "submit" value="Add Student" />
            }
    }
</div>
