﻿
@model IEnumerable<Shayantan_MVC2_190822.Models.StudentClass>



<div>
    <ul>
        @{ foreach (var item in Model)
            {
                <li> @item.Sid; | @item.Sname <form action ="@Url.Action("Delete",new { id = @item.Sid })" method="post"> <input type="submit" value="Delete" /> </form></li>
                }
            }
    </ul>
</div> 

<div>
    @Html.ActionLink("Add Student", "AddStudent");
</div>
