.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .button2 {background-color: rgb(107, 100, 100); font-size: 10px;} 
  .button3 {background-color: #f44336; padding: 12px 28px;}  
  .button4 {background-color: #e7e7e7; color: black; padding: 12px 28px;}
  .button5 {background-color: #555555;background-color: white;
    color: black;
    border: 2px solid #4CAF50;} 
    .button5:hover {
      background-color: #4CAF50; /* Green */
      color: white;
    }


body{
  background: url(https://media.istockphoto.com/photos/sunset-waterfall-picture-id483822568),linear-gradient(rgba(0,0,255),rgba(255,255,0));
  border-style:double;
}