﻿@model Shayantan_MVCExercise2_220822.Models.EmpModel
<div>
    @{ using (Html.BeginForm())
        {
            @Html.Label("Please enter name")
            @Html.TextBoxFor(o => o.ename)

            @Html.Label("Please enter DOB")
            @Html.TextBoxFor(o => o.dept)


            <input type="submit" value="Add Student" />
        }
    }
</div>

