﻿<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Dept</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    @{ foreach (var item in Model)
        {

            <tr>
                <td>@item.ename</td>
                <td>@item.dept</td>
                <td><form action="@Url.Action("Delete",new { id = @item.eid })" method="post"> <input type="submit" value="Delete" onclick="return ShowMessage();" /> </form> @*@Html.ActionLink("Edit", "Edit", new { id = item.Sid })*@ <a href='@Url.Action("Edit",new { id = item.eid })' class="btn btn-primary">Edit</a> </td>
            </tr>

        }

    }

</table>

<div>
    @Html.ActionLink("Add Student", "AddStudent")
</div>

