﻿@model Shayantan_MVCExercise2_220822.Models.EmpModel
<div>
    @{ using (Html.BeginForm())
        {
            @Html.Label("Please enter name")
            @Html.TextBoxFor(o => o.ename)

            @Html.Label("Please enter DOB")
            @Html.TextBoxFor(o => o.dept)

           

            <input type="submit" value="Edit" />
        }


    }
    @if (ViewBag.message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.message")
            }
        </script>
    }
</div>
